* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  
  #e {
    position: relative;
    height: 100vh;
    margin-top: -100vh;
  }
  
  #e .e {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .e {
    max-width: 410px;
    width: 100%;
    text-align: center;
  }
  
  .e .e-code {
    height: 200px;
    position: relative;
    z-index: -1;
  }
  
  .e .e-code h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    margin: 0px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: url('http://localhost/space/assets/images/backgrounds/error.jpg') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
  }
  
  
  .e h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
  }
  
  .e p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0px;
  }
  
  .e a {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #0046d5;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: white;
    font-weight: 700;
    -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
            box-shadow: 0px 4px 15px -5px #0046d5;
  }
  
  
  @media only screen and (max-width: 767px) {
      .e .e-code {
        height: 142px;
      }
      .e .e-code h1 {
        font-size: 112px;
      }
  }

  #r{color:red; font-weight:bold!important;display:none;}

.loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
  }
  
  .loading {
    width: 100px;
    height: 100px;
  }
  .loading__ring {
    position: absolute;
    width: 100px;
    height: 100px;
  }
  .loading__ring:first-child {
    transform: skew(30deg, 20deg);
  }
  .loading__ring:last-child {
    transform: skew(-30deg, -20deg) scale(-1, 1);
  }
  .loading__ring:last-child svg {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }
  .loading__ring svg {
    -webkit-animation: load-rotate 1s linear infinite;
            animation: load-rotate 1s linear infinite;
    fill: rgba(255, 255, 255, 0.9);
  }
  
  @keyframes load-rotate {
    to {
      transform: rotate(360deg);
    }
  }