.rg-container {
  padding: 16px;
  background-color: #570093;
  color: #ffffff;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -90vh;
  z-index: 100;
  position: relative;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.registerbtn {
  background-color: #000000;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.75;
}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}